@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
body{
    margin: 0;
    height: 100vh;
    font-family: "Caveat", cursive;
}
.card-component{
    border: 2px solid black;
    width: 200px;
    
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}
.card-component h1{
    font-size: 22px;
}
.card-component img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.3);
}